.componentsUIWrapper {
  width: 280px;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  padding: 0 0 22.5px;
}

@media (min-width: 768px) {
  .componentsUIWrapper {
    flex-direction: row;
    width: 700px;
    column-gap: 20px;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .componentsUIWrapper {
    width: 940px;
  }
}

@media (min-width: 1366px) {
  .componentsUIWrapper {
    width: 1120px;
  }
}
