@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.selectsWrapper {
  display: flex;
  column-gap: 20px;
}
